[submodule "cpu-x"]
	path = cpu-x
	url = ssh+git://aur@aur.archlinux.org/cpu-x.git
[submodule "cpu-x-git"]
	path = cpu-x-git
	url = ssh+git://aur@aur.archlinux.org/cpu-x-git.git
[submodule "darling-git"]
	path = darling-git
	url = ssh+git://aur@aur.archlinux.org/darling-git.git
[submodule "dmg2dir"]
	path = dmg2dir
	url = ssh+git://aur@aur.archlinux.org/dmg2dir.git
[submodule "dmg2img"]
	path = dmg2img
	url = ssh+git://aur@aur.archlinux.org/dmg2img.git
[submodule "exaile"]
	path = exaile
	url = ssh+git://aur@aur.archlinux.org/exaile.git
[submodule "frozenway"]
	path = frozenway
	url = ssh+git://aur@aur.archlinux.org/frozenway.git
[submodule "libaosd"]
	path = libaosd
	url = ssh+git://aur@aur.archlinux.org/libaosd.git
[submodule "libcpuid-git"]
	path = libcpuid-git
	url = ssh+git://aur@aur.archlinux.org/libcpuid-git.git
[submodule "man-pages-fr"]
	path = man-pages-fr
	url = ssh+git://aur@aur.archlinux.org/man-pages-fr.git
[submodule "manpages-fr-extra"]
	path = manpages-fr-extra
	url = ssh+git://aur@aur.archlinux.org/manpages-fr-extra.git
[submodule "memtest86-efi"]
	path = memtest86-efi
	url = ssh+git://aur@aur.archlinux.org/memtest86-efi.git
[submodule "psensor"]
	path = psensor
	url = ssh+git://aur@aur.archlinux.org/psensor.git
[submodule "python2-mmkeys"]
	path = python2-mmkeys
	url = ssh+git://aur@aur.archlinux.org/python2-mmkeys.git
[submodule "radeontop"]
	path = radeontop
	url = ssh+git://aur@aur.archlinux.org/radeontop.git
[submodule "radeontop-git"]
	path = radeontop-git
	url = ssh+git://aur@aur.archlinux.org/radeontop-git.git
[submodule "systemd-numlockontty"]
	path = systemd-numlockontty
	url = ssh+git://aur@aur.archlinux.org/systemd-numlockontty.git
[submodule "darling-mach-git"]
	path = darling-mach-git
	url = ssh+git://aur@aur.archlinux.org/darling-mach-git.git/
