[submodule "cpu-x"]
	path = cpu-x
	url = ssh+git://aur@aur.archlinux.org/cpu-x.git/
	branch = master
[submodule "darling-git"]
	path = darling-git
	url = ssh+git://aur@aur.archlinux.org/darling-git.git/
	branch = master
[submodule "dmg2dir"]
	path = dmg2dir
	url = ssh+git://aur@aur.archlinux.org/dmg2dir.git/
	branch = master
[submodule "frozenway"]
	path = frozenway
	url = ssh+git://aur@aur.archlinux.org/frozenway.git/
	branch = master
[submodule "gnustep-base-clang-svn"]
	path = gnustep-clang-svn/gnustep-base-clang-svn
	url = ssh+git://aur@aur.archlinux.org/gnustep-base-clang-svn.git/
	branch = master
[submodule "gnustep-corebase-clang-svn"]
	path = gnustep-clang-svn/gnustep-corebase-clang-svn
	url = ssh+git://aur@aur.archlinux.org/gnustep-corebase-clang-svn.git/
	branch = master
[submodule "gnustep-gui-clang-svn"]
	path = gnustep-clang-svn/gnustep-gui-clang-svn
	url = ssh+git://aur@aur.archlinux.org/gnustep-gui-clang-svn.git/
	branch = master
[submodule "gnustep-libobjc2-clang-svn"]
	path = gnustep-clang-svn/gnustep-libobjc2-clang-svn
	url = ssh+git://aur@aur.archlinux.org/gnustep-libobjc2-clang-svn.git/
	branch = master
[submodule "gnustep-make-clang-svn"]
	path = gnustep-clang-svn/gnustep-make-clang-svn
	url = ssh+git://aur@aur.archlinux.org/gnustep-make-clang-svn.git/
	branch = master
[submodule "lib32-libdispatch-clang-git"]
	path = lib32-libdispatch-clang-git
	url = ssh+git://aur@aur.archlinux.org/lib32-libdispatch-clang-git.git/
	branch = master
[submodule "lib32-libkqueue"]
	path = lib32-libkqueue
	url = ssh+git://aur@aur.archlinux.org/lib32-libkqueue.git/
	branch = master
[submodule "lib32-libpthread_workqueue-git"]
	path = lib32-libpthread_workqueue-git
	url = ssh+git://aur@aur.archlinux.org/lib32-libpthread_workqueue-git.git/
	branch = master
[submodule "libdispatch-clang-git"]
	path = libdispatch-clang-git
	url = ssh+git://aur@aur.archlinux.org/libdispatch-clang-git.git/
	branch = master
[submodule "libreoffice-faenza-mod"]
	path = libreoffice-faenza-mod
	url = ssh+git://aur@aur.archlinux.org/libreoffice-faenza-mod.git/
	branch = master
[submodule "man-pages-fr"]
	path = man-pages-fr
	url = ssh+git://aur@aur.archlinux.org/man-pages-fr.git/
	branch = master
[submodule "manpages-fr-extra"]
	path = manpages-fr-extra
	url = ssh+git://aur@aur.archlinux.org/manpages-fr-extra.git/
	branch = master
[submodule "memtest86-efi"]
	path = memtest86-efi
	url = ssh+git://aur@aur.archlinux.org/memtest86-efi.git/
	branch = master
[submodule "psensor"]
	path = psensor
	url = ssh+git://aur@aur.archlinux.org/psensor.git/
	branch = master
[submodule "python2-mmkeys"]
	path = python2-mmkeys
	url = ssh+git://aur@aur.archlinux.org/python2-mmkeys.git/
	branch = master
[submodule "libcpuid-git"]
	path = libcpuid-git
	url = ssh+git://aur@aur.archlinux.org/libcpuid-git.git/
	branch = master
[submodule "exaile"]
	path = exaile
	url = ssh+git://aur@aur.archlinux.org/exaile.git/
	branch = master
[submodule "dmg2img"]
	path = dmg2img
	url = ssh+git://aur@aur.archlinux.org/dmg2img.git/
	branch = master
[submodule "libaosd"]
	path = libaosd
	url = ssh+git://aur@aur.archlinux.org/libaosd.git/
	branch = master
[submodule "radeontop"]
	path = radeontop
	url = ssh+git://aur@aur.archlinux.org/radeontop.git/
	branch = master
[submodule "systemd-numlockontty"]
	path = systemd-numlockontty
	url = ssh+git://aur@aur.archlinux.org/systemd-numlockontty.git/
	branch = master
[submodule "radeontop-git"]
	path = radeontop-git
	url = ssh+git://aur@aur.archlinux.org/radeontop-git.git/
	branch = master
