[submodule "gnustep-base-clang-svn"]
	path = gnustep-base-clang-svn
	url = ssh+git://aur@aur4.archlinux.org/gnustep-base-clang-svn.git/
[submodule "gnustep-corebase-clang-svn"]
	path = gnustep-corebase-clang-svn
	url = ssh+git://aur@aur4.archlinux.org/gnustep-corebase-clang-svn.git/
[submodule "gnustep-gui-clang-svn"]
	path = gnustep-gui-clang-svn
	url = ssh+git://aur@aur4.archlinux.org/gnustep-gui-clang-svn.git/
[submodule "gnustep-libobjc2-clang-svn"]
	path = gnustep-libobjc2-clang-svn
	url = ssh+git://aur@aur4.archlinux.org/gnustep-libobjc2-clang-svn.git/
[submodule "gnustep-make-clang-svn"]
	path = gnustep-make-clang-svn
	url = ssh+git://aur@aur4.archlinux.org/gnustep-make-clang-svn.git/
